@import "partials/variables";
@import "partials/mixins";
@import "partials/typographie";

:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  @include container;
}

.grid {
  @include grid-column(12);
}


body,
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: $dark-grey;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  @include container;
  max-width: 1600px;
  box-sizing: border-box;
  padding-bottom: 100px;
  background-color: white;
  @include shadow;
  gap: 6rem;

  @include tablet {
    padding-bottom: 100px;
    padding-top: 0;
  }

  @include desktop {
    padding-bottom: 250px;
    gap: 12.5rem;
  }
}

.hidden {
  display: none;
}