@import "partials/variables";
@import "partials/mixins";
@import "partials/typographie";

.container {
  @include container;
}

.grid {
  @include grid-column(12);
}

body,
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

footer {
  background-color: map-get($colors, gris-pale);
  padding: 20px;
  text-align: center;
}
