@mixin grid-column($columns: 12) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  gap: 20px;
}

@mixin container {
  width: 100%;
  max-width: 1600px;
  box-sizing: border-box;
  margin: 0 auto;
}

@mixin tablet {
  @media (min-width: $medium) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $large) {
    @content;
  }
}

@mixin desktop-xl {
  @media (min-width: $xlarge) {
    @content;
  }
}

@mixin button-base(
  $background: $color-primary,
  $color: $color-black,
  $box-shadow: 3px 2px 4.8px 0px rgba(16, 23, 0, 0.25)
) {
  display: inline-flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: $background;
  color: $color;
  box-shadow: $box-shadow;
  font-family: $font-sans;
  font-size: 14px;
  letter-spacing: 2%;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 2px solid transparent;

  &:hover {
    background: $green-primary;
    border: 2px solid $green-secondary;
    color: $color-black;
  }

  &:focus {
    outline: 1px solid $green-secondary;
  }

  &:active {
    background: $green-secondary;
    color: $color-white;
  }

  &:disabled {
    background: $color-grey-p;
    border: 2px solid $color-grey;
    color: $color-grey;
    cursor: not-allowed;
    box-shadow: none;
  }
}

@mixin button-link($background: transparent, $color: $color-black) {
  display: inline-flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: $background;
  color: $color;
  font-family: $font-sans;
  font-size: 14px;
  letter-spacing: 2%;
  text-transform: uppercase;
  cursor: pointer;
  border: 2px solid transparent;

  &:hover {
    border: 2px solid transparent;
    color: $color-tertiary;
  }

  &:active {
    background: transparent;
    color: $color-white;
  }

  &:disabled {
    background: transparent;
    border: 2px solid transparent;
    color: $color-grey;
    cursor: not-allowed;
    box-shadow: none;
  }
}

@mixin button-radio(
  $background: $color-quaternary,
  $color: $color-white,
  $box-shadow: 3px 2px 4.8px 0px rgba(16, 23, 0, 0.25)
) {
  display: inline-flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: $background;
  color: $color;
  box-shadow: $box-shadow;
  font-family: $font-sans;
  font-size: 14px;
  letter-spacing: 2%;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 2px solid transparent;

  &:hover {
    background: $color-quaternary;
    border: 2px solid $color-quinary;
    color: $color-white;
  }

  &:focus {
    outline: 1px solid $color-quinary;
  }

  &:active {
    background: $color-quinary;
    color: $color-white;
  }

  &:disabled {
    background: $color-grey-p;
    border: 2px solid $color-grey;
    color: $color-grey;
    cursor: not-allowed;
    box-shadow: none;
  }
}

@mixin button-reset {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    color: $green-primary;
  }

  &:focus {
    outline: 1px solid $green-primary;
  }

  &:active {
    color: $green-secondary;
  }

  &:disabled {
    color: $dark-grey;
    cursor: not-allowed;
  }
}

@mixin liens {
  a {
    text-decoration: none;
    color: inherit;

    &:link {
      color: $color-black;
      padding: 1rem;
    }

    &:hover,
    &:active {
      background-color: $green-secondary;
    }

    &:visited {
      color: $green-primary;
    }
  }
}

@mixin flex($direction: row, $justify: space-between, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin textFieldWithButton {
  display: flex;
  max-width: 100%;
  padding: 0.5rem 1rem;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 8px;
  border: 2px solid $color-grey;
  background: $color-white;
  color: $color-black;
}

// Ajout d'une transition smooth pour le responsive : eve
@mixin transition($duration: 0.25s, $easing: ease) {
  transition: all 0.25s ease;
}

// Ajout d'un border pour les images : eve
@mixin border {
  border-top: 2px solid $color-black;
  border-right: 2px solid $color-black;
  border-bottom: 2px solid $color-black;
  border-left: 2px solid $color-black;
}

// Ajout d'un border-left pour les images : eve
@mixin border-left {
  border-top: 2px solid $color-black;
  border-right: none;
  border-bottom: 2px solid $color-black;
  border-left: 2px solid $color-black;
}

// Ajout d'un border-right pour les images : eve
@mixin border-right {
  border-top: 2px solid $color-black;
  border-right: 2px solid $color-black;
  border-bottom: 2px solid $color-black;
  border-left: none;
}

// Ajout d'un border-radius pour les images : eve
@mixin round-border($radius: 30px) {
  border-top-left-radius: $radius;
  border-bottom-left-radius: $radius;
  border-top-right-radius: $radius;
  border-bottom-right-radius: $radius;
}

// Ajout d'un border-radius pour les images collées sur un côté : Cleme
@mixin round-border-right($radius: 30px) {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: $radius;
  border-bottom-right-radius: $radius;
}

@mixin round-border-left($radius: 30px) {
  border-top-left-radius: $radius;
  border-bottom-left-radius: $radius;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

// Ajout d'un box-shadow de base: eve
@mixin shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

@mixin shadow-block {
  box-shadow: 4px 4px 20px 2px rgba(0, 0, 0, 0.25);
}

@mixin input {
  padding: 0.5rem 1rem;
  background-color: $color-grey-p !important;
  border-radius: 30px;
  border: 1px solid $color-black;
  font-family: $font-sans;
  font-size: 1rem;
}

@mixin bonhomme-style($max-height, $top, $right) {
  max-height: $max-height;
  top: $top;
  right: $right;
}

@mixin bonhomme-style-tablet($max-height, $top, $right) {
  @include tablet {
    max-height: $max-height;
    top: $top;
    right: $right;
  }
}

@mixin bonhomme-style-max-width($max-width, $top, $right) {
  max-width: $max-width;
  top: $top;
  right: $right;
}

@mixin bonhomme-style-max-width-tablet($max-width, $top, $right) {
  @include tablet {
    max-width: $max-width;
    top: $top;
    right: $right;
  }
}

@mixin bonhomme-image-styles(
  $class-name,
  $max-height,
  $max-height-tablet,
  $max-width,
  $max-width-tablet,
  $position: 1
) {
  &.#{$class-name} {
    @include bonhomme-style($max-height, 0, 0);
    @include bonhomme-style-tablet($max-height-tablet, 0, 0);
    @include bonhomme-style-max-width($max-width, 0, 0);
    @include bonhomme-style-max-width-tablet($max-width-tablet, 0, 0);
    transform: translateY($position);
  }
}

@mixin hidden {
  display: none;
}
