@mixin grid-column($columns: 12) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  gap: 20px;
}

@mixin container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;

  @include media-query("tablet") {
    padding: 0 40px;
  }

  @include media-query("desktop") {
    padding: 0 70px;
  }
}

@mixin media-query($breakpoint) {
  @if $breakpoint == "mobile" {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $breakpoint == "tablet" {
    @media (min-width: 769px) and (max-width: 1024px) {
      @content;
    }
  } @else if $breakpoint == "desktop" {
    @media (min-width: 1025px) {
      @content;
    }
  }
}

@mixin button-base {
  display: inline-flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: $vert-primaire;
  box-shadow: 3px 2px 4.8px 0px rgba(16, 23, 0, 0.25);
  font-family: $font-sans;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 2%;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background: $vert-primaire;
    border: 2px solid $vert-secondaire;
    color: $color-noir;
  }

  &:active {
    background: $vert-secondaire;
    color: $color-blanc;
  }

  &:disabled {
    background: $color-grey-p;
    border: 2px solid $color-grey;
    color: $color-grey;
    cursor: not-allowed;
    box-shadow: none;
  }
}

@mixin liens {
  a {
    text-decoration: none;
    color: inherit;
    &:link {
      color: $color-noir;
      padding: 1rem;
    }

    &:hover,
    &:active {
      background-color: $vert-secondaire;
    }

    &:visited {
      color: $vert-primaire;
    }
  }
}
