@import "partials/variables";
@import "partials/mixins";

body {
  font-family: $font-sans;
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

h1 {
  font-family: $font-sans;
  font-weight: bold;

  font-size: 2.25rem;
  letter-spacing: 1.5%;
}

h2 {
  font-family: $font-sans;
  font-weight: bold;

  font-size: 1.5rem;
  letter-spacing: 1%;
}

h3 {
  font-family: $font-sans;
  font-weight: bold;
  font-size: 1.25rem;
  letter-spacing: 0%;
}

h4 {
  font-family: $font-sans;
  font-weight: 500;
  font-size: 1.125rem;
  letter-spacing: 0%;
}

h5 {
  font-family: $font-sans;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0%;
}

.header__nav {
  font-family: $font-sans;
  font-weight: 600;
  font-size: 1rem;
  text-shadow: 0px 0px 3px $color-blanc;
}

.corps-texte {
  font-family: $font-sans;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0%;
  line-height: 1.5;
}

.corps-texte-gras {
  font-family: $font-sans;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0%;
  line-height: 1.5;
}

.legende {
  font-family: $font-sans;
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: 0%;
  line-height: 1.4;
}

.texte-icone {
  font-family: $font-sans;
  font-weight: 500;
  font-size: 0.75rem;
  letter-spacing: 0%;
  line-height: 1.2;
}
