@import "partials/variables";
@import "partials/mixins";

body {
  font-family: $font-sans;
}

h1 {
  font-family: $font-sans;
  font-weight: bold;
  line-height: 1.6rem;
  font-size: 1.59rem;
  text-transform: uppercase;
  @include transition;

  @media screen and (max-width: 384px) {
    font-size: 1.4rem;
    line-height: 1.7rem;
  }

  @include tablet {
    line-height: 2.8rem;
    font-size: 3rem;
    letter-spacing: 1px;
  }

  @include desktop {
    line-height: 2.7rem;
    font-size: 3rem;
    letter-spacing: 1px;
  }

  @include desktop-xl {
    line-height: 3.6rem;
    font-size: 4rem;
    letter-spacing: 2px;
  }
}

$medium: 769px;
$large: 1024px;
$xlarge: 1220px;

h2 {
  font-family: $font-sans;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 0%;
  @include tablet {
    font-size: 1.5rem;
    letter-spacing: 1%;
  }
}

h3 {
  font-family: $font-sans;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 0%;
  @include tablet {
    font-size: 1.25rem;
  }
}

h4 {
  font-family: $font-sans;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0%;
  @include tablet {
    font-size: 1.125rem;
  }
}

h5 {
  font-family: $font-sans;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0%;
}

// Ajout de Eve
p {
  font-family: $font-sans;
  color: $color-black;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0%;
  line-height: 1.5;
}

// Ajout de Eve
a {
  font-family: $font-sans;
  color: $color-black;
  font-weight: 600;
  font-size: 0.875rem;
  letter-spacing: 0%;
}

.header__nav {
  font-family: $font-sans;
  font-weight: 500;
  font-size: 0.875rem;
  text-shadow: 0px 0px 3px $color-white;
}

.corps-texte {
  font-family: $font-sans;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0%;
  line-height: 1.5;
  color: $color-black;
}

.corps-texte-gras {
  font-family: $font-sans;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0%;
  line-height: 1.5;
}

.legende {
  font-family: $font-sans;
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: 0%;
  line-height: 1.4;
}

.texte-icone {
  font-family: $font-sans;
  font-weight: 500;
  font-size: 0.75rem;
  letter-spacing: 0%;
  line-height: 1.2;
}
