//COLORS DE BASE
$vert-primaire: #c3e098;
$vert-secondaire: #414b33;
$vert-logo: #66ad00;
$rouge-primaire: #ed4e43;
$rouge-secondaire: #68221d;
$orange-logo: #ff0000;
$blanc: #fcfcfc;
$gris-fonce: #aeaeae;
$gris-pale: #ebebeb;
$noir: #202020;

//COLORS CLIENT
$rouge: #db4a2a;
$violet: #4426db;
$bleu: #34c5e0;
$vert: #99dc2a;

$color-primary: $vert-primaire;
$color-secondary: $rouge-primaire;
$color-tertiary: $vert-secondaire;
$color-quaternary: $rouge-secondaire;

$color-blanc: $blanc;
$color-grey: $gris-fonce;
$color-grey-p: $gris-pale;
$color-noir: $noir;

$font-sans: "Montserrat", sans-serif;

$medium: 769px;
$large: 1024px;

$p-mobile: 0 20px;
$p-tablet: 0 40px;
$p-desktop: 0 70px;