$colors: (
  rouge: #ed513a,
  rouge-fonce: #68221d,
  rouge-pale: #ff8775,
  bleu-violet: #4426db,
  bleu-violet-pale: #ad81ef,
  bleu: #34c5e0,
  bleu-pale: #91d3df,
  vert-primaire: #c3e098,
  vert-secondaire: #bfe77c,
  vert-tertiaire: #414b33,
  vert-logo: #66ad00,
  blanc: #fcfcfc,
  gris-fonce: #aeaeae,
  gris-pale: #ebebeb,
  noir: #202020,
);

$font-sans: "Montserrat", sans-serif;
