//COLORS DE BASE
$green-primary: #c3e098;
$green-secondary: #414b33;
$green-logo: #66ad00;
$red-primary: #ed4e43;
$red-secondary: #68221d;
$orange-logo: #ff0000;
$white: #fcfcfc;
$dark-grey: #aeaeae;
$pale-grey: #ebebeb;
$black: #202020;

//COLORS CLIENT
$red: #db4a2a;
$violet: #4426db;
$blue: #34c5e0;
$green: #99dc2a;

$color-primary: $green-primary;
$color-secondary: $red-primary;
$color-tertiary: $green-secondary;
$color-quaternary: $red-secondary;

$color-white: $white;
$color-grey: $dark-grey;
$color-grey-p: $pale-grey;
$color-black: $black;

$font-sans: "Montserrat", sans-serif;

$medium: 769px;
$large: 1024px;
$xlarge: 1220px;

$p-mobile: 0 20px;
$p-tablet: 0 40px;
$p-desktop: 0 70px;
