@import "../partials/variables";
@import "../partials/mixins";

.rapports-annuel__content {
    @include flex(column);
    flex-wrap: wrap;
    gap: 20px;
}

.btn {
    @include button-base;
    text-decoration: none;
}

.rapport-annuel {
    @include flex(column);
    gap: 20px;
    margin-bottom: 40px;
    margin-top: 40px;
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;

    @include tablet {
        @include flex(row, wrap);
        padding: $p-tablet;
        max-width: 100vw;
    }

    @include desktop {
        padding: $p-desktop;
        max-width: 100vw;
    }
}

.accordeon {
    cursor: pointer;

    &__content {
        display: none;
    }

    &__content--active {
        display: block !important;
    }
}