@import "../partials/variables";
@import "../partials/mixins";

.accordeon {
    &__container {
        @include container;
    }

    &__header {
        @include flex;
        cursor: pointer;
        color: $color-black;
        background-color: $pale-grey;
        border-bottom: 2px solid $color-black;
        padding: 40px;

        @include desktop {
            padding: 70px;
        }

        .accordeon__icon {
            color: $color-black;
            font-size: 1.5rem;
        }

        &:hover,
        &:active {
            color: $color-tertiary;
            border-bottom: 2px solid $color-tertiary;

            .accordeon__icon {
                color: $color-tertiary;
            }
        }
    }

    &__content {
        display: none;
    }

    &__content--active {
        display: block !important;
    }
}

.rapport {
    @include container;
    @include flex(column);
    gap: 2rem;
    margin: 30px 0;
    padding: $p-mobile;

    align-items: stretch;

    @include tablet {
        @include grid-column(2);
        gap: 6.875rem;
        padding: 0px 70px 0px 0px;
        margin: 50px 0;
        max-height: 470px;
    }

    &__image {
        @include border;
        box-sizing: border-box;
        @include round-border;
        padding: 20px;
        max-width: 100%;
        object-fit: cover;

        @include tablet {
            padding: 20px 20px 20px 0px;
            border-left: none;
            @include round-border-right;
            height: 470px;
            width: 100%;
        }
    }

    &__content {
        box-sizing: border-box;
        @include flex(column);
        gap: 1.2rem;
        width: 100%;
        padding: $p-mobile;
        align-items: center;

        @include tablet {
            padding-left: 0;
            padding-bottom: 0px;
            align-items: flex-start;
        }
    }

    &__statistiques {
        @include flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        gap: 20px;
    }

    &__stat {
        text-align: center;
        padding-bottom: 20px;

        img {
            max-height: 105px;
            margin-bottom: 10px;
        }
    }

    .btn {
        @include button-base;
        text-decoration: none;
    }
}

.assemblee {
    &__bonhomme-container {
        position: relative;
    }

    &__bonhomme {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;

        img {
            position: relative;
            width: 100%;
            height: auto;

            &.bonhomme-théâtre {
                @include bonhomme-style(150px, -150px, 0px);
                @include bonhomme-style-tablet(270px, -272px, -10px);
            }

            &.bonhomme-peinture {
                @include bonhomme-style(150px, -150px, 0px);
                @include bonhomme-style-tablet(270px, -272px, 0px);
            }

            &.bonhomme-musique {
                @include bonhomme-style(150px, -150px, 0px);
                @include bonhomme-style-tablet(270px, -272px, 0px);
            }

            &.bonhomme-danse {
                @include bonhomme-style(150px, -150px, 0px);
                @include bonhomme-style-tablet(270px, -272px, 0px);
            }

            &.bonhomme-hip-hop {
                @include bonhomme-style(150px, -150px, 10px);
                @include bonhomme-style-tablet(270px, -272px, 10px);
            }

            &.bonhomme-classique {
                @include bonhomme-style(150px, -150px, 0px);
                @include bonhomme-style-tablet(270px, -272px, 0px);
            }

            &.bonhomme-radio {
                @include bonhomme-style-max-width(180px, -110px, 20px);
                @include bonhomme-style-max-width-tablet(380px, -200px, 0px);
            }

            &.bonhomme-parle {
                @include bonhomme-style-max-width(180px, -90px, 20px);
                @include bonhomme-style-max-width-tablet(380px, -200px, 0px);
            }

            &.bonhomme-pense {
                @include bonhomme-style-max-width(180px, -100px, 20px);
                @include bonhomme-style-max-width-tablet(380px, -210px, 0px);
            }
        }
    }

    @include tablet {
        top: -90px;
        right: 100px;
    }
}