@import "../partials/variables";
@import "../partials/mixins";

.accordeon {
    &__container {
        @include container;
    }

    &__header {
        @include flex;
        cursor: pointer;
        color: $color-black;
        background-color: $pale-grey;
        border-bottom: 2px solid $color-black;
        padding: 40px;

        @include desktop {
            padding: 70px;
        }

        .accordeon__icon {
            color: $color-black;
            font-size: 1.5rem;
        }

        &:hover,
        &:active {
            color: $color-tertiary;
            border-bottom: 2px solid $color-tertiary;

            .accordeon__icon {
                color: $color-tertiary;
            }
        }
    }

    &__content {
        display: none;
    }

    &__content--active {
        display: block !important;
    }
}

.rapport {
    @include container;
    @include flex(column);
    gap: 2rem;
    margin: 30px 0;
    padding: $p-mobile;

    align-items: stretch;

    @include tablet {
        @include grid-column(2);
        gap: 6.875rem;
        padding: 0px 70px 0px 0px;
        margin: 50px 0;
        max-height: 470px;
    }

    &__image {
        @include border;
        box-sizing: border-box;
        @include round-border;
        padding: 20px;
        max-width: 100%;
        object-fit: cover;

        @include tablet {
            padding: 20px 20px 20px 0px;
            border-left: none;
            @include round-border-right;
            height: 470px;
            width: 100%;
        }
    }

    &__content {
        box-sizing: border-box;
        @include flex(column);
        gap: 1.2rem;
        width: 100%;
        padding: $p-mobile;
        align-items: center;

        @include tablet {
            padding-left: 0;
            padding-bottom: 0px;
            align-items: flex-start;
        }
    }

    &__statistiques {
        @include flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        gap: 20px;
    }

    &__stat {
        text-align: center;
        padding-bottom: 20px;

        img {
            max-height: 105px;
            margin-bottom: 10px;
        }
    }

    .btn {
        @include button-base;
        text-decoration: none;
    }
}

.block__bonhomme--assemblee {
    @include flex(row, flex-end, flex-end);
    padding: $p-mobile;

    img {
        @include transition;
        transform: scaleX(-1);
        @include bonhomme-image-styles("bonhomme-théâtre", 150px, 310px, null, null);
        @include bonhomme-image-styles("bonhomme-peinture", 150px, 310px, null, null);
        @include bonhomme-image-styles("bonhomme-musique", 160px, 270px, null, null);
        @include bonhomme-image-styles("bonhomme-danse", 160px, 270px, null, null);
        @include bonhomme-image-styles("bonhomme-hip-hop", 160px, 270px, null, null);
        @include bonhomme-image-styles("bonhomme-classique", 160px, 270px, null, null);
        @include bonhomme-image-styles("bonhomme-radio", null, null, 220px, 380px);
        @include bonhomme-image-styles("bonhomme-parle", null, null, 220px, 380px);
        @include bonhomme-image-styles("bonhomme-pense", null, null, 220px, 380px);
    }

    @include tablet {
        padding: $p-tablet;
        @include container;
    }

    @include desktop {
        padding: $p-desktop;
    }
}

.block__bonhomme--assemblee .block__bonhomme-droite {
    @include flex(row, flex-end, flex-end);

    img {
        transform: scaleX(1);
    }
}