@import "../partials/variables";
@import "../partials/mixins";
@import "../partials/typographie";

.background-color-grey {
  background-color: $color-grey-p;
  padding: 6.375rem 0;
  @include shadow-block;
  @include tablet {
    gap: 3.125rem;
  }
  @include desktop {
    gap: 6.875rem;
  }
}

.block {
  // position: relative;
  &__bonhomme {
    @include flex(row, flex-start, flex-start);
    // position: absolute;
    // transform: translateY(-100%);
    padding: $p-mobile;

    img {
      //   position: relative;
      @include transition;

      @include bonhomme-image-styles(
        "bonhomme-théâtre",
        150px,
        310px,
        null,
        null
      );
      @include bonhomme-image-styles(
        "bonhomme-peinture",
        150px,
        310px,
        null,
        null
      );
      @include bonhomme-image-styles(
        "bonhomme-musique",
        160px,
        270px,
        null,
        null
      );
      @include bonhomme-image-styles(
        "bonhomme-danse",
        160px,
        270px,
        null,
        null
      );
      @include bonhomme-image-styles(
        "bonhomme-hip-hop",
        160px,
        270px,
        null,
        null
      );
      @include bonhomme-image-styles(
        "bonhomme-classique",
        160px,
        270px,
        null,
        null
      );
      @include bonhomme-image-styles(
        "bonhomme-radio",
        null,
        null,
        220px,
        380px
      );
      @include bonhomme-image-styles(
        "bonhomme-parle",
        null,
        null,
        220px,
        380px
      );
      @include bonhomme-image-styles(
        "bonhomme-pense",
        null,
        null,
        220px,
        380px
      );
    }

    @include tablet {
      padding: $p-tablet;
      @include container;
    }

    @include desktop {
      padding: $p-desktop;
    }

    &-droite {
      @include flex(row, flex-end);
    }
  }

  &__header {
    @include flex(row, space-between, flex-end);
    gap: 2.5rem;
  }

  &__sections {
    @include flex(column);
  }

  &__content {
    @include flex(column, flex-end, flex-start);
    gap: 1.175rem;
    padding: $p-mobile;

    @include tablet {
      padding: $p-tablet;
      transform: translateY(-1.5rem);
    }

    @include desktop {
      padding: $p-desktop;
    }
  }

  &__arrow {
    @include flex(flex-end);
    img {
      width: auto;
      height: 4rem;
    }
    @include tablet {
    }
  }

  &__link-1,
  &__link-2 {
    @include button-base;
    // @include hidden;
    a {
      text-decoration: none;
    }
  }

  &__section {
    @include container;
    @include flex(column);
    gap: 2rem;
    @include tablet {
      @include grid-column(2);
      align-items: center;
    }
  }
}

.image-position-0,
.image-position-1 {
  img {
    width: calc(100vw - 40px);
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
    object-fit: contain;

    @include tablet {
      width: 100%;
      height: 472px;
      object-fit: cover;
      box-sizing: border-box;
    }
  }
}

.image-position-0 {
  img {
    padding: 20px;
    @include border;
    @include round-border;

    @include tablet {
      padding: 20px 0 20px 20px;
      @include border-left;
      @include round-border-left;
    }
  }
}

.image-position-1 {
  img {
    padding: 20px;
    @include border;
    @include round-border;

    @include tablet {
      padding: 20px 20px 20px 0;
      @include border-right;
      @include round-border-right;
    }
  }
}
