@import "partials/variables";
@import "partials/mixins";
@import "partials/typographie";

.background-color-grey {
  background-color: $color-grey-p;
  @include shadow-block;
}

.block-without-img {
  &__wrapper {
    @include flex(column, center, center);

    @include tablet {
      @include flex(column, flex-start, flex-start);
    }
  }
  &__container {
    @include container;
    @include flex(column, space-between, center);
    padding: 20px;
    gap: 2rem;
    @include tablet {
      @include flex(row);
      padding: 40px;
    }
    @include desktop {
      padding: 70px;
    }
  }

  &__section {
    @include flex(column, space-between, center);
    text-align: center;
    flex-grow: 1;

    h2 {
      padding-bottom: 2.375rem;
    }
    p {
      padding-bottom: 2.3rem;
    }
    @include tablet {
      @include flex(row, start);
      text-align: left;
    }
  }

  &__links {
    @include flex(row, start);
    gap: 50px;
    @include tablet {
    }
  }

  &__link-1,
  &__link-2 {
    @include button-base;
    a {
      text-decoration: none;
    }
  }

  &__bonhomme-haut {
    // position: relative;
    @include flex(row, flex-start, flex-start);
    // position: absolute;
    // transform: translateY(-100%);

    img {
      //   position: relative;
      @include transition;

      @include bonhomme-image-styles(
        "bonhomme-théâtre",
        150px,
        310px,
        null,
        null
      );
      @include bonhomme-image-styles(
        "bonhomme-peinture",
        150px,
        310px,
        null,
        null
      );
      @include bonhomme-image-styles(
        "bonhomme-musique",
        160px,
        270px,
        null,
        null
      );
      @include bonhomme-image-styles(
        "bonhomme-danse",
        160px,
        270px,
        null,
        null
      );
      @include bonhomme-image-styles(
        "bonhomme-hip-hop",
        160px,
        270px,
        null,
        null
      );
      @include bonhomme-image-styles(
        "bonhomme-classique",
        160px,
        270px,
        null,
        null
      );
      @include bonhomme-image-styles(
        "bonhomme-radio",
        null,
        null,
        220px,
        380px
      );
      @include bonhomme-image-styles(
        "bonhomme-parle",
        null,
        null,
        220px,
        380px
      );
      @include bonhomme-image-styles(
        "bonhomme-pense",
        null,
        null,
        220px,
        380px
      );
    }

    @include tablet {
      padding: $p-tablet;
      @include container;
    }

    @include desktop {
      padding: $p-desktop;
    }

    &-droite {
      @include flex(row, flex-end);
    }
  }

  &__bonhomme-bas {
    @include flex(row, flex-end, flex-end);
    img {
      //   position: relative;
      @include transition;

      @include bonhomme-image-styles(
        "bonhomme-théâtre",
        150px,
        310px,
        null,
        null
      );
      @include bonhomme-image-styles(
        "bonhomme-peinture",
        150px,
        310px,
        null,
        null
      );
      @include bonhomme-image-styles(
        "bonhomme-musique",
        160px,
        270px,
        null,
        null
      );
      @include bonhomme-image-styles(
        "bonhomme-danse",
        160px,
        270px,
        null,
        null
      );
      @include bonhomme-image-styles(
        "bonhomme-hip-hop",
        160px,
        270px,
        null,
        null
      );
      @include bonhomme-image-styles(
        "bonhomme-classique",
        160px,
        270px,
        null,
        null
      );
      @include bonhomme-image-styles(
        "bonhomme-radio",
        null,
        null,
        220px,
        380px
      );
      @include bonhomme-image-styles(
        "bonhomme-parle",
        null,
        null,
        220px,
        380px
      );
      @include bonhomme-image-styles(
        "bonhomme-pense",
        null,
        null,
        220px,
        380px
      );
    }

    @include tablet {
      @include container;
    }
  }
}

.bonhomme-radio {
  transform: translateY(0.9rem);
  @include tablet {
    transform: translateY(1.5rem);
  }
}
