@import "partials/variables";
@import "partials/mixins";
@import "partials/typographie";

.background-color-grey {
  background-color: $color-grey-p;
  @include shadow-block;
}

.block-without-img {
  &__wrapper {
    @include flex(column, center, center);

    @include tablet {
      @include flex(column, flex-start, flex-start);
    }
  }

  &__content {
    @include flex(column, center, center);
    @include tablet {
      @include flex(column, flex-start, flex-start);
    }
  }

  &__container {
    @include container;
    @include flex(column, space-between, center);
    padding: 20px;
    gap: 2rem;
    @include tablet {
      @include flex(row);
      padding: 40px;
    }
    @include desktop {
      padding: 70px;
    }
  }

  &__section {
    @include flex(column, space-between, center);
    text-align: center;
    flex-grow: 1;

    h2 {
      padding-bottom: 2.375rem;
    }
    p {
      padding-bottom: 2.3rem;
    }
    @include tablet {
      @include flex(row, start);
      text-align: left;
    }
  }

  &__links {
    @include flex(column);
    gap: 2rem;
    @include tablet {
      @include flex(row, start);
      gap: 3.125rem;
    }
  }

  &__link-1,
  &__link-2 {
    @include button-base;
    a {
      text-decoration: none;
    }
  }

  &__bonhomme-haut {
    @include flex(row, flex-start, flex-start);
    padding: $p-mobile;
    @include transition;

    img {
      transform: scaleX(1);
      @include bonhomme-image-styles(
        "bonhomme-théâtre",
        150px,
        310px,
        null,
        null
      );
      @include bonhomme-image-styles(
        "bonhomme-peinture",
        150px,
        310px,
        null,
        null
      );
      @include bonhomme-image-styles(
        "bonhomme-musique",
        160px,
        270px,
        null,
        null
      );
      @include bonhomme-image-styles(
        "bonhomme-danse",
        160px,
        270px,
        null,
        null
      );
      @include bonhomme-image-styles(
        "bonhomme-hip-hop",
        160px,
        270px,
        null,
        null
      );
      @include bonhomme-image-styles(
        "bonhomme-classique",
        160px,
        270px,
        null,
        null
      );
      @include bonhomme-image-styles(
        "bonhomme-radio",
        null,
        null,
        220px,
        380px,
        1rem
      );
      @include bonhomme-image-styles(
        "bonhomme-parle",
        null,
        null,
        220px,
        380px
      );
      @include bonhomme-image-styles(
        "bonhomme-pense",
        null,
        null,
        220px,
        380px
      );
    }

    @include tablet {
      padding: $p-tablet;
      @include container;
    }

    @include desktop {
      padding: $p-desktop;
    }
  }

  &__bonhomme-bas {
    @include flex(row, flex-end, flex-end);
    @include transition;
    img {
      @include bonhomme-image-styles(
        "bonhomme-théâtre",
        150px,
        310px,
        null,
        null
      );
      @include bonhomme-image-styles(
        "bonhomme-peinture",
        150px,
        310px,
        null,
        null
      );
      @include bonhomme-image-styles(
        "bonhomme-musique",
        160px,
        270px,
        null,
        null
      );
      @include bonhomme-image-styles(
        "bonhomme-danse",
        160px,
        270px,
        null,
        null
      );
      @include bonhomme-image-styles(
        "bonhomme-hip-hop",
        160px,
        270px,
        null,
        null
      );
      @include bonhomme-image-styles(
        "bonhomme-classique",
        160px,
        270px,
        null,
        null
      );
      @include bonhomme-image-styles(
        "bonhomme-radio",
        null,
        null,
        220px,
        380px
      );
      @include bonhomme-image-styles(
        "bonhomme-parle",
        null,
        null,
        220px,
        380px
      );
      @include bonhomme-image-styles(
        "bonhomme-pense",
        null,
        null,
        220px,
        380px
      );
    }

    @include tablet {
      @include container;
    }
  }
}

.block-without-img__bonhomme-haut.block__bonhomme-droite {
  @include flex(row, flex-end, flex-end);
  img {
    transform: scaleX(-1);
  }
}

.block-without-img__bonhomme-haut.block__bonhomme-gauche {
  @include flex(row, flex-start, flex-start);
  img {
    transform: scaleX(1);
  }
}
