@import "partials/variables";
@import "partials/mixins";
@import "partials/typographie";

button {
  @include button-base;
}

.button-radio {
  @include button-base;
  background: $rouge-secondaire;
  color: $color-blanc;

  &:hover {
    background: $rouge-secondaire;
    border: 2px solid $rouge-primaire;
    color: $color-blanc;
  }

  &:active {
    background: $color-noir;
    color: $color-blanc;
  }
}
