.ca-member {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__bloc-image {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border: 1px solid;
  }

  &__image {
    height: 220px;
    width: 200px;
  }
}
