.contact {
  @include container;
  display: grid;
  gap: 3rem;
  padding: 0 2rem 7rem 2rem;

  @include tablet {
    padding: 0 2rem 10rem 2rem;
  }

  @include desktop {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 2rem 6rem 2rem;
  }

  &__infos {
    @include flex(column, space-between, flex-start);
    gap: 3rem;

    div {
      @include flex(column, flex-start, flex-start);
      gap: 2rem;

      div {
        @include flex(column, flex-start, flex-start);
        gap: 0.8rem;

        div {
          @include flex(row, flex-start, center);
          gap: 0.6rem;

          a {
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  &__adress {
    @include flex(column, flex-start, flex-start);
    gap: 2rem;

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    div {
      div {
        @include flex(row, flex-start, center);
        gap: 0.6rem;
      }
    }

    img {
      max-width: 100%;
    }
  }
}

.newsletter__parent {
  @include container;
}

.newsletter {
  background-color: $color-grey-p;
  padding: 4rem 2rem 2rem;
  position: relative;
  @include flex(column, center, center);

  &__arrow {
    position: absolute;
    right: 8%;
    top: -30px;
    transform: rotate(100deg);
    @include tablet {
      right: 20%;
    }

    @include desktop {
      right: 30%;
    }
  }

  &__content {
    max-width: 640px;
    @include flex(column, center, center);
    gap: 2rem;

    &-text {
      @include flex(column, center, center);
      gap: 1rem;
      text-align: center;
    }

    a {
      @include button-base;
      @include flex;
      gap: 8px;
      text-decoration: none;
      font-size: 1rem;
      padding: 10px 20px;
      width: 100%;
      max-width: 400px;
      min-width: 100px;
      background-color: $color-white;
      color: $color-black;
      font-weight: 600;
      transition: max-width 0.3s ease-in-out;

      i {
        font-size: 1.2rem;
      }
    }
  }
}

.newsletter__bonhomme.block__bonhomme {
  @include flex(row, flex-start, flex-start);
  padding: $p-mobile;

  img {
    transform: scaleX(1);
    @include transition;
    @include bonhomme-image-styles(
      "bonhomme-théâtre",
      150px,
      310px,
      null,
      null
    );
    @include bonhomme-image-styles(
      "bonhomme-peinture",
      150px,
      310px,
      null,
      null
    );
    @include bonhomme-image-styles(
      "bonhomme-musique",
      160px,
      270px,
      null,
      null
    );
    @include bonhomme-image-styles("bonhomme-danse", 160px, 270px, null, null);
    @include bonhomme-image-styles(
      "bonhomme-hip-hop",
      160px,
      270px,
      null,
      null
    );
    @include bonhomme-image-styles(
      "bonhomme-classique",
      160px,
      270px,
      null,
      null
    );
    @include bonhomme-image-styles("bonhomme-radio", null, null, 220px, 380px);
    @include bonhomme-image-styles("bonhomme-parle", null, null, 220px, 380px);
    @include bonhomme-image-styles("bonhomme-pense", null, null, 220px, 380px);
  }

  @include tablet {
    padding: $p-tablet;
    @include container;
  }

  @include desktop {
    padding: $p-desktop;
  }
}

.newsletter__bonhomme.block__bonhomme-droite {
  @include flex(row, flex-end, flex-end);
  img {
    transform: scaleX(-1);
  }
}
