@import "../partials/variables";
@import "../partials/mixins";

.cta__section {
    @include flex(column);
    gap: 20px;
    max-width: 100%;
    align-items: flex-start;
    height: 100%;


    &-photo {
        width: 100%;
        object-fit: cover;
        height: 300px;
        border-radius: 30px;
    }

    &-content {
        @include flex(column, $align: flex-start);
        gap: 10px;
        flex-grow: 1;

        &-title {
            font-size: 1.5rem;
            font-weight: bold;
            color: $color-black;
        }

        &-description {
            flex-grow: 1;
        }

        &-button {

            @include button-base;
            text-decoration-line: none;
            font-weight: 600;
        }
    }
}

.ctaSection__container {
    @include container;
    position: relative;
    padding: $p-mobile;
    margin-top: 6rem; //a revoir pour le bonhomme
    @include flex(column);
    gap: 50px;

    @include tablet {
        @include grid-column(2);
        align-items: stretch;
        padding: $p-tablet;
    }

    @include desktop {
        @include grid-column(2);
        align-items: stretch;
        row-gap: 90px;
        padding: $p-desktop;
    }
}

.ctaSection__bonhomme {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;

    img {
        position: relative;
        width: 100%;
        height: auto;

        &.bonhomme-théâtre {
            @include bonhomme-style(150px, -150px, 20px);
            @include bonhomme-style-tablet(310px, -220px, -100px);
        }

        &.bonhomme-peinture {
            @include bonhomme-style(150px, -140px, 20px);
            @include bonhomme-style-tablet(310px, -200px, -80px);
        }

        &.bonhomme-musique {
            @include bonhomme-style(160px, -10px, 20px);
            @include bonhomme-style-tablet(270px, -180px, -80px);
        }

        &.bonhomme-danse {
            @include bonhomme-style(160px, -140px, 20px);
            @include bonhomme-style-tablet(270px, -180px, -10px);
        }

        &.bonhomme-hip-hop {
            @include bonhomme-style(160px, -140px, 30px);
            @include bonhomme-style-tablet(270px, -180px, -10px);
        }

        &.bonhomme-classique {
            @include bonhomme-style(160px, -160px, 30px);
            @include bonhomme-style-tablet(270px, -180px, -10px);
        }

        &.bonhomme-radio {
            @include bonhomme-style-max-width(220px, -120px, 30px);
            @include bonhomme-style-max-width-tablet(380px, -100px, -20px);
        }

        &.bonhomme-parle {
            @include bonhomme-style-max-width(220px, -100px, 30px);
            @include bonhomme-style-max-width-tablet(380px, -100px, -30px);
        }

        &.bonhomme-pense {
            @include bonhomme-style-max-width(220px, -120px, 30px);
            @include bonhomme-style-max-width-tablet(380px, -120px, -30px);
        }
    }

    @include tablet {
        top: -90px;
        right: 100px;
    }
}

.cta__section-buttons {
    @include flex;
    gap: 20px;
}