/* ------------- SE CONNECTER ------------- */

.swpm-login-widget-form {
  @include flex(column, center, center);
  @include container;
  padding: $p-mobile;

  @include tablet {
    padding: $p-tablet;
  }

  @include desktop {
    padding: $p-desktop;
  }

  form {
    > div {
      @include flex(column, center, flex-start);
      gap: 1rem;
    }
  }

  label {
    font-weight: 700;
  }

  input {
    @include input;
  }

  .swpm-login-submit {
    @include flex(column, center, center);
    width: 100%;

    .swpm-login-form-submit {
      @include button-base;
      background-color: $color-primary !important;
    }
  }
}

/* ------------- S'INSCRIRE ------------- */

.swpm-registration-widget-form {
  @include flex(column, center, center);
  width: 90%;
  margin: 0 auto;
  @include container;
  padding: $p-mobile;

  @include tablet {
    padding: $p-tablet;
  }

  @include desktop {
    width: 60%;
    padding: $p-desktop;
  }

  form {
    @include flex(column, center, center);
    width: 100%;

    div {
      width: 100%;
      @include flex(column, center, flex-start);
      gap: 0.5rem;

      label {
        font-weight: 700;
      }

      input {
        @include input;
      }
    }
  }

  .swpm-membership-level-row {
    @include flex(row, flex-start, flex-start);
    gap: 2rem;
    width: fit-content;

    .swpm-form-label-wrap label {
      font-weight: 700;

      &::after {
        content: ":";
      }
    }
  }

  .swpm-submit {
    @include button-base;
  }
}

/* ------------- RESILIER MDP ------------- */

.swpm-pw-reset-widget-inside {
  @include flex(column, center, center);
  width: 90%;
  margin: 0 auto;
  gap: 0.5rem;
  @include container;
  padding: $p-mobile;

  @include tablet {
    padding: $p-tablet;
  }

  @include desktop {
    padding: $p-desktop;
    width: 60%;
  }

  .swpm_label {
    font-weight: 700;
  }

  div {
    @include flex(column, center, center);
    width: 100%;
  }

  .swpm-pw-reset-email-input {
    input {
      @include input;
      width: 100%;
    }
  }

  .swpm-pw-reset-submit {
    @include button-base;
  }
}

/* ------------- CONNECTÉ ------------- */

.swpm-login-widget-logged {
  @include flex(column, flex-start, flex-start);
  width: 90%;
  margin: 0 auto;
  gap: 0.5rem;
  @include container;
  padding: $p-mobile;

  @include tablet {
    padding: $p-tablet;
  }

  @include desktop {
    padding: $p-desktop;
  }

  div {
    @include flex(row, flex-start, center);
    gap: 0.5rem;

    &:first-child {
      font-weight: 700;

      &::after {
        content: ":";
      }
    }
  }
  .swpm-logged-username {
    &::after {
      content: "" !important;
    }
  }
}

/* ------------- PROFILE ------------- */

.swpm-edit-profile-form {
  @include flex(column, center, center);
  width: 90%;
  margin: 0 auto;
  @include container;
  padding: $p-mobile;

  @include tablet {
    padding: $p-tablet;
  }

  @include desktop {
    padding: $p-desktop;
    width: 60%;
  }

  form {
    @include flex(column, center, center);
    width: 100%;

    div {
      width: 100%;
      @include flex(column, center, flex-start);
      gap: 0.5rem;

      label {
        font-weight: 700;
      }

      input {
        @include input;
      }

      select {
        @include input;
      }
    }
  }

  .swpm-membership-level-row,
  .swpm-username-row {
    @include flex(row, flex-start, flex-start);
    width: fit-content;

    .swpm-form-label-wrap label {
      font-weight: 700;
      width: 150px;

      &::after {
        content: ":";
      }
    }
  }

  .swpm-submit-section {
    @include button-base;
    width: fit-content;

    button {
      &:hover {
        color: $color-black !important;
        font-weight: 700;
      }
    }
  }
}
