@import "../partials/variables";
@import "../partials/mixins";

.expositions {
  @include container;
  @include flex(column, center, center);
  gap: 2rem;
  background-color: $color-grey-p;

  .slider {
    @include flex(column, center, center);
    max-width: 100%;

    &__title {
      @include flex(row, space-between, center);
      width: 50%;
    }

    &__item {
      @include flex(row, flex-start, center);
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      flex: 0 0 100%;
      scroll-snap-align: start;
      box-sizing: border-box;
      flex-direction: row;
    }

    &__images {
      @include flex(row, flex-start, center);
      overflow-x: scroll;
      scroll-snap-type: x mandatory;
      flex-wrap: nowrap;
      box-sizing: border-box;
      scrollbar-width: none;
    }

    &__image {
      scroll-snap-align: start;
      @include flex(column, center, center);
      gap: 1rem;

      h3 {
        text-align: center;
      }

      img {
        max-width: 100%;
        height: auto;
        object-fit: cover;

        @include desktop {
          width: 700px;
          height: 600px;
        }
      }
    }
  }

  .exposition__content {
    @include flex(column, flex-start, flex-start);
    width: 90%;
    height: 75%;
    background-color: $color-white;
    overflow-y: scroll;
    overflow-x: hidden;
    gap: 2rem;
    @include round-border;
    @include desktop {
      width: 75%;
    }
  }

  .exposition-modal__header {
    @include flex(column, center, flex-end);
    gap: 1rem;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    @include desktop {
      padding: 1rem 2rem;
    }
  }

  .exposition-modal__infos {
    width: 100%;
    @include flex(column, center, center);
    gap: 1rem;

    @include desktop {
      @include flex(row, space-between, center);
    }

    &-date {
      @include flex(row, center, center);
      gap: 1rem;

      div {
        @include flex(column, center, flex-start);
      }
    }
  }

  .exposition-modal__resume {
    @include flex(column, flex-start, flex-start);
    gap: 1rem;
    padding: 1rem;
    box-sizing: border-box;

    @include desktop {
      padding: 1rem 2rem;
    }
  }

  .exposition-modal__slider {
    @include flex(column, center, center);
    gap: 1rem;
    max-width: 100%;
    padding: 1rem;
    box-sizing: border-box;

    @include desktop {
      padding: 1rem 2rem;
    }

    .slider {
      .slider__images {
        .slider__image {
          img {
            width: 300px;
            height: 200px;

            @include desktop {
              width: 380px;
              height: 280px;
            }
          }
        }
      }
    }
  }

  .exposition-modal__artist {
    background-color: $color-grey-p;
    @include flex(column, flex-start, flex-start);
    gap: 1rem;
    padding: 1rem;
    box-sizing: border-box;

    @include desktop {
      padding: 2rem;
    }

    a {
      @include button-base;
    }
  }
}
