@import "../partials/variables";
@import "../partials/mixins";

.expositions {
  @include container;
  @include flex(column, center, center);
  gap: 2rem;
  background-color: $color-grey-p;
  padding: 4rem 2rem;
  box-sizing: border-box;

  @include desktop {
    padding: 4rem 2rem 4rem 0;
  }

  .slider {
    @include flex(column, center, center);
    max-width: 100%;
    gap: 2rem;
    box-sizing: border-box;

    &__title {
      @include flex(row, space-between, center);
      width: 100%;
      @include desktop {
        width: 50%;
      }
    }

    &__images {
      @include flex(row, flex-start, center);
      overflow-x: scroll;
      scroll-snap-type: x mandatory;
      flex-wrap: nowrap;
      box-sizing: border-box;
      scrollbar-width: none;
    }

    &__item {
      display: grid;
      gap: 2rem;
      flex: 0 0 100%;
      scroll-snap-align: start;
      box-sizing: border-box;
      flex-direction: row;

      @include desktop {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    &__image {
      scroll-snap-align: start;
      @include flex(column, center, center);
      gap: 1rem;
      border-bottom: 2px solid $color-black;
      border-top: 2px solid $color-black;
      border-right: 2px solid $color-black;
      box-sizing: border-box;
      @include round-border;
      padding: 0.5rem;
      @include desktop {
        padding: 0.5rem 0.5rem 0.5rem 0;
        border-radius: 0;
        @include round-border-right;
      }

      h3 {
        text-align: center;
      }

      > img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        box-sizing: border-box;

        @include desktop {
          width: 100%;
          height: 500px;
          border-radius: 0;
          @include round-border-right;
        }
      }
    }

    &__infos {
      @include flex(column, center, flex-start);
      gap: 2rem;

      .exposition {
        &__infos-acces {
          @include flex(row, space-between, center);
          gap: 2rem;

          > div {
            @include flex(row, center, center);
            gap: 1rem;
            div {
              @include flex(column, center, flex-start);
            }
          }
        }
      }
    }
  }

  .exposition-modal__content {
    @include flex(column, flex-start, flex-start);
    width: 90%;
    height: 75%;
    background-color: $color-white;
    overflow-y: scroll;
    overflow-x: hidden;
    gap: 1rem;
    @include round-border;
    @include desktop {
      width: 75%;
    }
  }

  .exposition-modal__header {
    @include flex(column, center, flex-end);
    gap: 1rem;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    @include desktop {
      padding: 1rem 2rem;
    }

    h2 {
      width: 100%;
    }
  }

  .exposition-modal__infos {
    padding: 1rem;
    width: 100%;
    @include flex(row, flex-end, center);
    gap: 0.5rem;
    box-sizing: border-box;

    @include desktop {
      width: 100%;
    }

    &-date {
      @include flex(row, center, center);
      gap: 1rem;

      div {
        @include flex(column, center, flex-start);
      }
    }
  }

  .exposition-modal__resume {
    @include flex(column, flex-start, flex-start);
    gap: 1rem;
    padding: 1rem;
    box-sizing: border-box;

    @include desktop {
      padding: 1rem 2rem;
    }
  }

  .exposition-modal__slider {
    @include flex(column, center, center);
    gap: 1rem;
    max-width: 100%;
    padding: 1rem;
    box-sizing: border-box;

    @include desktop {
      padding: 1rem 2rem;
    }

    .slider {
      padding: 0.5rem;
      gap: 0.5rem;
      @include flex(row, center, center);
      @include desktop {
        gap: 1.5rem;
      }

      .slider__images {
        .slider__image {
          border: none;
          @include round-border;
          padding: 0;

          img {
            width: 250px;
            height: 180px;

            @include desktop {
              @include round-border;
              width: 370px;
              height: 270px;
            }
          }
        }
      }
    }
  }

  .exposition-modal__artist {
    width: 100%;
    background-color: $color-grey-p;
    @include flex(column, flex-start, center);
    gap: 1rem;
    padding: 1rem;
    box-sizing: border-box;

    @include desktop {
      padding: 2rem;
      @include flex(column, flex-start, flex-start);
    }

    a {
      @include button-base;
    }
  }
}
