@import "../partials/variables";
@import "../partials/mixins";

footer {
  background-color: $color-black;

  a {
    color: $color-white;
    text-decoration: none;
    font-weight: 400;

    &:hover {
      color: $color-primary;
    }
  }

  .footer {
    &__container {
      @include container;
      @include flex(column, $align: space-between);
      bottom: 0px;
      left: 0px;
      color: $color-white;
      padding: 20px;

      @include tablet {
        padding: 30px 40px;
      }

      @include desktop {
        padding: 50px 70px;
      }
    }

    &__logo {
      a {
        @include flex($justify: center);
      }

      img {
        max-width: 80%;
        height: auto;
        margin-top: 50px;

        @include tablet {
          max-width: 100%;
          margin-top: 0px;
        }
      }
    }

    &__content {
      @include flex(column, $justify: center, $align: center);
      gap: 50px;
      padding-bottom: 50px;

      @include tablet {
        padding-bottom: 110px;
        @include flex($direction: row, $align: flex-start);
      }
    }

    &__contact {
      @include flex(column, $align: center);
      gap: 20px;

      @include tablet {
        @include flex(column, $align: flex-start);
        gap: 32px;
      }
    }

    &__infos {
      @include flex(column, $align: flex-start);
      gap: 20px;
    }

    &__phone-mcpc,
    &__address-mcpc,
    &__email-mcpc {
      @include flex(flex-start);
      gap: 10px;
      color: $color-white;

      &:hover {
        color: $color-primary;
      }

      @include tablet {
        gap: 20px;
      }
    }

    &__newsletter {
      @include flex(column, $align: center);
      gap: 20px;

      @include tablet {
        @include flex(column, $align: flex-start);
        gap: 32px;
      }

      @include desktop {
        transform: translateX(-40px);
      }

      &-btn {
        @include button-base;
        @include flex;
        gap: 8px;
        text-decoration: none;
        font-size: 1rem;
        padding: 10px 20px;
        width: 100%;
        max-width: 400px;
        min-width: 100px;
        background-color: $color-white;
        color: $color-black;
        font-weight: 600;
        transition: max-width 0.3s ease-in-out;

        i {
          font-size: 1.2rem;
        }
      }
    }

    &__bottom {
      @include flex(column-reverse);
      gap: 40px;

      @include desktop {
        @include flex;
      }
    }

    &__nav-container {
      @include flex(column, $align: center);

      @include tablet {
        @include flex($direction: column, $align: flex-start);
      }
    }

    &__nav {
      @include flex(column);
      font-size: .8rem;
      gap: 10px;
      list-style: none;
      text-transform: uppercase;
      padding: 0;

      @include tablet {
        @include flex(column, $align: flex-start);
      }

      & a {
        text-decoration: none;
        color: inherit;

        &:hover {
          color: $color-primary;
        }
      }
    }

    &__social {
      @include flex(column, $align: center);
      gap: 20px;

      @include tablet {
        @include flex;
      }
    }

    &__social-icons {
      @include flex;
      gap: 20px;
      list-style: none;

      & a {
        color: $color-white;

        &:hover {
          color: $color-primary;
        }

        & i {
          font-size: 1.5rem;

          @include tablet {
            font-size: 2rem;
          }
        }
      }
    }

    &__copyright {
      padding-top: .5rem;
      color: $color-white;
      @include flex($justify: center);
      font-size: 0.8rem;
    }
  }
}