@import "../partials/variables";
@import "../partials/mixins";

footer {
  background-color: $color-black;

  .footer {
    &__container {
      @include container;
      @include flex(column, $align: space-between);
      bottom: 0px;
      left: 0px;
      color: $color-white;
      padding: 50px;
    }

    &__logo {
      @include flex;

      img {
        height: auto;
      }
    }

    &__content {
      padding-bottom: 110px;

      @include tablet {
        @include flex($direction: row, $align: flex-start);
      }
    }

    &__contact {
      @include flex(column, $align: flex-start);
      gap: 32px;
    }

    &__infos {
      @include flex(column, $align: flex-start);
      gap: 20px;
    }

    &__telephone-mcpc,
    &__adresse-mcpc,
    &__courriel-mcpc {
      @include flex(flex-start);
      gap: 20px;
    }

    &__newsletter {
      @include flex(column, $align: flex-start);
      gap: 32px;
      transform: translateX(-40px);

      &-form {
        @include flex(column, $align: flex-start);
        gap: 20px;
      }
    }

    &__bottom {
      @include flex;
    }

    &__nav {
      gap: 20px;
      list-style: none;
      text-transform: uppercase;
      padding: 0;

      @include tablet {
        @include flex($direction: row, $justify: flex-start, $align: center);
      }

      & a {
        text-decoration: none;
        color: inherit;

        &:hover {
          color: $color-primary;
        }
      }
    }

    &__social {
      @include flex;
      gap: 40px;
    }

    &__social-icons {
      @include flex;
      gap: 20px;
      list-style: none;

      & a {
        color: $color-white;

        &:hover {
          color: $color-primary;
        }

        & i {
          font-size: 2rem;
        }
      }
    }
  }
}
