@import "partials/variables";
@import "partials/mixins";
@import "partials/typographie";

.header {
  display: flex;
  background-color: #fcfcfc80;
  height: 100px;
  width: 100%;
  padding: 0 1rem;

  .logo {
    background-color: white;
    border: 1px solid map-get($colors, noir);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 1rem;
    height: 80px;
    box-sizing: border-box;

    .nav__logo {
      height: 50px;
    }
  }

  a {
    color: map-get($colors, noir);
  }

  .header-content {
    display: flex;

    .header__nav {
      display: flex;
    }
  }
}
