@import "partials/variables";
@import "partials/mixins";
@import "partials/typographie";

.hero {
  &__image {
    margin: 0;

    img {
      @include container;
      max-height: 647px;
      margin: 0 auto;
      @include flex;
      object-fit: cover;
      object-position: center;
    }
  }

  &__content {
    @include container;
    padding: $p-mobile;
    transform: translateY(-27px);

    @include tablet {
      padding: $p-tablet;
      transform: translateY(-38px);
    }

    @include desktop {
      padding: $p-desktop;
      transform: translateY(-38px);
    }

    @include desktop-xl {
      transform: translateY(-51px);
    }
  }

  &__title {
    &--white {
      color: $color-white;
    }
  }
}