.juicer__header {
  @include flex(row, space-between, flex-end);
  width: 100%;

  h2 {
    max-width: 300px;

    @include tablet {
      width: 100%;
    }
  }
}

.juicer {
  @include container;
  position: relative;
  @include flex(column, center, flex-start);
  padding-top: 2rem;
  width: 100% !important;
  min-height: 500px;

  &-feed {
    ul {
      width: 100%;
    }
  }

  h2 {
    padding-left: 2rem;
    padding-bottom: 1rem;
  }
}

.juicer__bonhomme.block__bonhomme {
  @include flex(row, flex-start, flex-start);
  padding: $p-mobile;

  img {
    @include transition;
    transform: scaleX(1);
    @include bonhomme-image-styles(
      "bonhomme-théâtre",
      150px,
      310px,
      null,
      null
    );
    @include bonhomme-image-styles(
      "bonhomme-peinture",
      150px,
      310px,
      null,
      null
    );
    @include bonhomme-image-styles(
      "bonhomme-musique",
      160px,
      270px,
      null,
      null
    );
    @include bonhomme-image-styles("bonhomme-danse", 160px, 270px, null, null);
    @include bonhomme-image-styles(
      "bonhomme-hip-hop",
      160px,
      270px,
      null,
      null
    );
    @include bonhomme-image-styles(
      "bonhomme-classique",
      160px,
      270px,
      null,
      null
    );
    @include bonhomme-image-styles("bonhomme-radio", null, null, 220px, 380px);
    @include bonhomme-image-styles("bonhomme-parle", null, null, 220px, 380px);
    @include bonhomme-image-styles("bonhomme-pense", null, null, 220px, 380px);
  }

  @include tablet {
    padding: $p-tablet;
    @include container;
  }

  @include desktop {
    padding: $p-desktop;
  }
}

.juicer__bonhomme.block__bonhomme-droite {
  @include flex(row, flex-end, flex-end);
  img {
    transform: scaleX(-1);
  }
}
