.calendar {
  @include container;
  padding: $p-mobile;
  @include flex(column, center, center);
  gap: 2rem;

  @include tablet {
    padding: $p-tablet;
  }

  @include desktop {
    padding: $p-desktop;
  }

  &-utilisation {
    width: 100%;
  }

  &__not-connected {
    @include flex(column, center, center);
    gap: 1rem;
    width: 100%;
  }

  &__btn-connexion {
    @include button-base;
  }
}

.responsive-calendar {
  overflow: hidden;
  width: 100%;
  height: 1000px;

  @include tablet {
    height: 700px;
  }

  @include desktop {
    height: 100vh;
  }
}

.responsive-calendar iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.calendar .mobile {
  @include desktop {
    display: none;
  }
}

.calendar .desktop {
  display: none;

  @include desktop {
    display: block;
  }
}
