.swpm-login-widget-form {
  @include flex(column, center, center);

  label {
    font-weight: 600;
  }

  input {
    padding: 0.5rem;
    background-color: $color-grey-p !important;
    border-radius: 30px;
  }
}
