@import "partials/variables";
@import "partials/mixins";
@import "partials/typographie";

.radio {
  @include flex(column, center, center);
  padding: 70px 20px;
  @include tablet {
    @include flex(column, stretch);
    padding: 0 2.5rem;
  }
  @include desktop {
    padding: 0 6.45rem;
  }

  &__part-1 {
    padding-top: 3rem;
    @include flex(column);
    gap: 1rem;
    width: calc(100vw - 20%); // 20% de moins que la largeur de l'écran
    max-width: 1100px;

    p {
      padding-bottom: 1.5rem;
    }
    @include tablet {
      @include flex(row);
    }
  }

  &__part-2 {
    padding-bottom: 3rem;
    @include flex(column);
    box-sizing: border-box;
    gap: 1rem;
    width: calc(100vw - 20%); // 20% de moins que la largeur de l'écran
    max-width: 1100px;

    p {
      padding-bottom: 1.5rem;
    }
    @include tablet {
      @include flex(row);
      padding-right: 40px;
    }
  }

  &__logo-1 {
    @include flex(column);
    justify-self: start;
    img {
      width: clamp(9.2rem, 50%, 10.2rem);
      height: auto;
    }
  }

  &__text-1 {
    @include flex(column, center, center);
    text-align: center;
    gap: 1.175rem;
    @include tablet {
      @include flex(column, flex-end, flex-start);
      text-align: left;
    }
  }

  &__logo-2 {
    img {
      width: clamp(10rem, 50%, 11rem);
      height: auto;
    }
  }

  &__text-2 {
    @include flex(column, center, center);
    text-align: center;
    gap: 1.175rem;
    @include tablet {
      @include flex(column, flex-end, flex-start);
      text-align: left;
    }
  }

  &__title-1 {
    @include flex(row, flex-start, flex-end);
    gap: 2.5rem;
    @include tablet {
      @include flex(row, space-between, flex-end);
    }
  }

  &__little-arrow {
    @include flex;
    img {
      width: auto;
      height: 4rem;
    }
  }

  &__big-arrow {
    width: calc(100vw - 20%); // 20% de moins que la largeur de l'écran
    max-width: 1400px;
    padding: 1rem 0;
    @include flex(center);

    @include tablet {
      img {
        padding-bottom: 3rem;
      }
    }
  }

  &__link {
    @include button-radio($color: $color-white);
    a {
      text-decoration: none;
      color: $color-white;
    }
  }
}
