@import "../partials/variables";
@import "../partials/mixins";
@import "../partials/typographie";

.subtitle {
  &__container {
    box-sizing: border-box;
    margin: 0 auto;
    @include flex(column, center, center);
    // gap: 1rem;
    padding: 2.5rem 1rem 2rem 1rem;
    position: relative;
    @include round-border;
    @include shadow;
    overflow: hidden;

    @include tablet {
      padding: 0 20px;
    }
  }

  &__large {
    @extend .subtitle__container;
    width: calc(100vw - 40px);
    max-width: 860px;
  }

  &__petit {
    @extend .subtitle__container;
    width: calc(100vw - 40px);
    max-width: 640px;
  }

  &__title {
    @include flex(row, center, center);
    gap: 0.5rem;
    padding: 1rem 0.5rem;
    text-align: center;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;

    :first-child {
      font-weight: 400;
    }
  }

  &__text {
    padding: 1.5rem 0 1rem 0;
    max-width: 500px;
    text-align: center;
  }

  &__learn-more {
    @include button-link;
    a {
      &:hover {
        color: $color-tertiary;
      }

      &:active {
        color: $color-grey;
      }

      &:disabled {
        color: $color-grey;
        cursor: not-allowed;
      }
    }
  }

  &__hand {
    display: none;
    position: absolute;
    box-sizing: border-box;
    @include tablet {
      display: inline;
      width: 100%;
      height: 100%;
      @include transition;
    }

    &-gros_pinceau {
      position: absolute;
      top: 0;
      right: 0;
      width: 23%;
    }

    &-palette {
      position: absolute;
      bottom: 0;
      left: -3rem;
      width: 20%;
      @include transition;

      @include tablet {
        bottom: 0;
        left: -2.5rem;
      }

      @include desktop {
        left: -6rem;
        width: 25%;
      }
    }

    &-petit_pinceau {
      position: absolute;
      top: -1.5rem;
      left: -2rem;
      width: 30%;
    }
  }

  &__content {
    position: relative;
    padding-top: 1rem;
    @include flex(column, center, center);
    gap: 1rem;
  }
}
